*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
}
.calc{
    width: 330px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(99, 39, 39, 0.37);
    box-shadow: 0 0 25px rgba(0,255,255,0.3);
    backdrop-filter: blur(10px);
}
#display{
    width: 100%;
    height: 70px;
    font-size: 50px;
    border: none;
    background: rgba(59, 43, 43, 0.527);
    color: rgb(255, 255, 255);
    text-align: right;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 18px;
}
.btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
}
button{
    padding: 18px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background: rgba(255,255,255,0.15);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 12px cyan;
}
.ac{background: #ff4d4d;}
.eq{background: #00ff7f; grid-column: span 2;}
